.recordsList {
  margin-top: 15px;
background-color: #057605;
  border-radius: 10px;
  animation: slideInFromBottom 2s ease;
}

.recordsElement {
  color: white;
}

.recordsEmpty {
  margin-top: 15px;
  display: block;
  height: 95px;
  color: #fff;
  background-color: #057605;
  border-radius: 10px;
  text-align: center;
  line-height: 95px;
  font-size: 30px;
  animation: slideInFromBottom 2s ease;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(900%);
  }
  to {
    transform: translateY(0);
  }
}