.historyBoard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyRow {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.historyWinner {
  text-align: center;
  font-size: 30px;
}