.boardMakerForm {
  margin: 20px 20px;
}

.boardMakerSubmit {
  height: 20px;
  width: 120px;
  background-color: #057605;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.boardMakerSubmit:hover {
  background-color: #08cb08;
  transition: all 0.5s linear;
  cursor: pointer;
}

.boardMakerInput {

}
