* {
  margin: 0;
}

.header {
  animation: slideIn 2s ease-in-out;
}

.headerTitle {
  text-align: center;
  background-color: #057605;
  color: white;
}

.headerItem {
  text-align: center;
  background-color: #057605;
  color: #fff;
  font-size: 30px;
  display: block;
  text-decoration: none;
}

.headerItem:hover {
  background-color: #08cb08;
  transition: all 0.5s linear;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
