.authenticationBlock {
  margin-top: 20px;
}

.authenticationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authenticationItem {
  display: block;
  flex-direction: column;
}

.authenticationInput {
display: block;
}

.authenticationSubmit {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 10%;
background-color: #057605;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.authenticationSubmit:hover {
  background-color: #08cb08;
  transition: all 0.5s linear;
  cursor: pointer;
}

.successMessage {
  margin: 10px;
  width: 350px;
  background-color: #057605;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.errorMessage {
margin: 10px;
  width: 350px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.continueForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continueButton {
  margin: 10px;
  text-decoration: none;
  color: #fff;
  width: 10%;
  background-color: #057605;
  border-radius: 10px;
  border: none;
}

.continueButton:hover {
  background-color: #08cb08;
  transition: all 0.5s linear;
  cursor: pointer;
}