.rules {
display: flex;
  height: 160px;
  justify-content: center;
  font-size: 32px;
  background-color: #057605;
  color: #fff;
}

.rulesTitle {
  text-align: center;
}

.rulesText {
  margin: 30px;
}