.registerFormInput {
  display: block;
}

.registerForm {
  text-align: center;
  margin-top: 30px;
}

.registerFormSubmit {
  background-color: #057605;
  height: 30px;
  color: white;
  border-radius: 10px;
  border: none;
  width: 100px;
  margin-top: 20px;
}

.registerFormSubmit:hover {
  background-color: #08cb08;
  transition: all 0.5s linear;
  cursor: pointer;
}

.successMessage {
background-color: green;
  display: flex;
  margin: 20px 300px;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
}

.errorMessage {
background-color: red;
  display: flex;
  margin: 20px 300px;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
}